#page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.copyright {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #page-footer {
    width: 30vw;
    margin-bottom: 15vh;
  }
}