#page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#menuBtn {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#menuBtn li {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #page-footer {
    width: 390px;
    margin-bottom: calc(50vh - 422px);
  }
}