#page-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  #page-header {
    width: 390px;
    margin-top: calc(50vh - 422px);
  }
}

/*============
logo-icon
=============*/
.logo-icon {
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logo-icon a {
  display: flex;
}
.logo-icon img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .logo-icon {
    width: 155px;
    height: 60px;
  }
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  left: -220px;
  bottom: 0;
  width: 220px;
  height: calc(100% - 55px);
  background: #dedede;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px;
}
nav .inner .user-profile {
  margin-bottom: 3vh;
}
nav .inner .user-profile dt {
  font-weight: bold;
  margin-bottom: 0.5vh;
}
nav .inner .user-profile dt a {
  font-size: 14px;
}
nav .inner .user-profile dd a {
  background: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 0.5vh 1vw;
}
nav .inner .user-signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3vh;
}
nav .inner .user-signup dt,
nav .inner .user-signup dd {
  flex-basis: 45%;
  background: #333;
  border-radius: 10px;
  text-align: center;
  padding: 0.5vh 1vw;
}
nav .inner .user-signup dt a,
nav .inner .user-signup dd a {
  color: #fff;
  font-size: 14px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px dashed #333;
}
nav .inner ul li:last-child {
  border-bottom: 0;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 0.5em 0;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (min-width: 768px) {
  nav {
    width: 240px;
    height: 784px;
    margin-bottom: calc(50vh - 422px)
  }
  .open nav {
    left: calc(50vw - 195px);
  }
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 15px;
  right: 18px;
  width: 25px;
  height: 25px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 13px;
}
.toggle_btn span:nth-child(3) {
  bottom: 1px;
}
.open .toggle_btn {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*
.open .toggle_btn span {
  background-color: #fff;
}
*/

@media screen and (min-width: 768px) {
  .toggle_btn {
    top: calc(50vh - 405px);
    right: calc(50vw - 175px);
  }
}

/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 55px);
  background: #000;
  opacity: .55;
  z-index: 2;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .open #mask {
    width: 390px;
    height: 784px;
    right: calc(50vw - 195px);
    bottom: 0;
    left: unset;
    margin: calc(50vh - 357px) 0 calc(50vh - 422px);
  }
}