#second-footer {
  width: 100%;
  margin: 2vh 0;
}
#second-footer .text-wrap .text {
  color: #333;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  #second-footer {
    width: 390px;
  }
}