#second-header {
  width: 100%;
  box-shadow: 0 2px 4px #ccc;
  position: fixed;
  top: 0;
}
.second-logo {
  width: 130px;
  height: 55px;
}

@media (min-width: 768px) {
  #second-header {
    width: 390px;
    margin-top: calc(50vh - 422px);
  }
  .second-logo {
    width: 120px;
    height: 60px;
  }
}