<footer id="page-footer">
  <ul id="menuBtn">
    <li class="btn-home"><%= link_to 'ホーム', root_path %></li>
    <li class="btn-card"><%= link_to 'カード作成', new_card_path %></li>
    <li class="btn-search"><a href="#">検索</a></li>
    <li class="btn-setting"><%= link_to '設定', edit_user_registration_path %></li>
  </ul>
</footer>