<footer id="second-footer">
  <ul class="text-wrap">
    <li><p class="text">パスワードを忘れたときはこちら</p></li>
    <li><p class="text">プライバシーポリシー</p></li>
    <li><p class="text">利用規約</p></li>
  </ul>
</footer>