/*****************
main
*****************/
#places-show .main {
  width: 100vw;
}
@media (min-width: 768px) {
  #places-show .main{
    width: 390px;
  }
}


/*****************
navBar
*****************/
.navBar {
  height: 40px;
  background: #ff8700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
.navBar li a,
.navBar li h2 {
  color: #fff;
}
.navBar .nav-back,
.navBar .nav-edit {
  flex-basis: 20%;
}
.navBar .nav-back::before {

}
.navBar .nav-edit {
  text-align: right;
}
.navBar .page-title {
  flex-basis: 40%;
  text-align: center;
}
@media (min-width: 768px) {
  .navBar {
    padding: 0 20px;
  }
}


.detail-image {
  margin-bottom: 3vh;
}
.detail-image img {
  width: 100%;
}

.place-info {
  width: 90vw;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}
.place-info li {
  border-bottom: 1px solid #333;
}
.place-info li:last-child {
  border-bottom: 0;
}
.place-info li h3,
.place-info li a,
.place-info li p,
.place-info li span {
  font-size: 14px;
}
.place-info li span {
  font-weight: bold;
}
.place-info .place-name,
.place-info .place-menu,
.place-info .place-pref,
.place-info .place-address,
.place-info .place-map {
  border-top: 1px dotted #333;
  padding: 0.5em 3%;
}
.place-info .place-name,
.place-info .place-pref,
.place-info .place-map {
  background: #f0f0f0;
}
.place-info .place-name {
  border-top: 0;
}

@media (min-width: 768px) {
  .place-info {
    width: 350px;
  }
}