/*****************
main
*****************/
#cards-index .main {
  width: 100vw;
  padding-top: 55px;
  padding-bottom: 0;
}

#cards-index .main h2 {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

@media (min-width: 768px) {
  #cards-index .main {
    width: 390px;
    padding-top: 60px;
  }
}


/*****************
intro
*****************/
.top-intro {
  width: 100vw;
  height: calc(100vh - 55px);
  background-image: url('visitor_top_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 68% 0;
  position: relative;
}
.top-intro .inner {
  width: 100%;
  position: absolute;
  bottom: 40px;
}
.top-intro .inner h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  filter:drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.7));
  margin-bottom: 2vh;
}
.top-intro .inner .intro-signup li:first-child {
  margin-bottom: 2vh;
}

@media (min-width: 768px) {
  .top-intro {
    width: 390px;
    height: 784px;
  }
  .top-intro .inner {
    width: 390px;
    bottom: 45px;
  }
}


/*****************
cards-list
*****************/
.cards-list {
  width: 90vw;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
}
.cards-list li {
  border-bottom: 1px solid #333;
  padding: 2vh 3vw;
}
.cards-list li .card-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.cards-list li .user-avatar {
  flex-basis: 13vw;
}
.cards-list li .user-avatar img {
  width: 100%;
  border-radius: 50px;
}
.cards-list li dl .card-text {
  flex-basis: 65vw;
}
.cards-list li:last-child {
  border-bottom: 0;
}
.cards-list li h3 {
  font-size: 16px;
  font-weight: bold;
}
.cards-list li p {
  font-size: 14px;
  line-height: 1.4em;
}

@media (min-width: 768px) {
  .cards-list {
    width: 350px;
  }
  .cards-list li {
    padding: 10px 0;
  }
  .cards-list li .user-avatar {
    flex-basis: 17%;
    margin-top: 0.2em;
  }
  .cards-list li dl .card-text {
    flex-basis: 75%;
  }
}