#cards-show .main {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#cards-show .main .card-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
#cards-show .main .card-description {
  text-align: center;
  font-size: 14px;
}

.midashi-list {
  font-weight: bold;
  margin: 40px 0 20px;
}
.place-list {
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.place-list li {
  border-bottom: 1px solid #333;
}
.place-list li:last-child {
  border-bottom: 0;
}
.place-list li h3,
.place-list li a,
.place-list li p {
  font-size: 14px;
}
.place-list .place-image img {
  width: 100%;
}
.place-list .place-menu,
.place-list .place-pref,
.place-list .place-address,
.place-list .place-map {
  border-top: 1px dotted #333;
}

@media (min-width: 768px) {
  #cards-show .main{
    width: 350px;
  }
}